<body>
  <h3 *ngIf="getCostoFinale() === 0">Aggiungi qualcosa al carrello</h3>

  <div *ngIf="getCostoFinale() != 0" class="wrapper">
    <ul>
      <li *ngFor="let obj of cartItems">
        <div class="article">
        <p class="articleTitle">
          <button class="removebtn" mat-fab color="basic" (click)="removeItemFromCart(obj)">
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>{{obj.name}} | Prezzo: {{obj.prezzo}}$ </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="infoPayment" *ngIf="getCostoFinale() != 0">
    <h3 class="totalePrezzo">Totale: {{costoFinale}}$</h3>
    <button class="btnPaga" (click)="payItems()">Paga</button>
  </div>

  <div class="promocode"  *ngIf="getCostoFinale() != 0">
    <input class="input" #inputBox placeholder="Inserisci codice promozionale">
    <button mat-fab color="basic" (click)="addPromoCode(inputBox.value)">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

</body>
