body{
  padding-top: 40px;
}

.item{
  padding-top: 40px;
}

.container{
  float: left;
  border-radius: 15px;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
              0 32px 64px -48px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 38%;
  height: 800px;
}

.img{
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  transform: translate(50%, 50%);
}

.productInfo{
  float: right;
  border-radius: 15px;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
              0 32px 64px -48px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 60%;
  height: 800px;
}

.title{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.btnBuy{
  transform: translate(-25px, 600px);
}

